/target
.antigravitycli/
./webkit/
.kilo/
*.png
webkit_source.tar.xz
dependencies/WebKit/
*.log
scratch/

# Zawra Build Artifacts
webkit/build/
target/
.zig-cache/
**/target/
**/.zig-cache/
*.log
webkit_source.tar.xz
webkit/source/
